.lgo {
    position: absolute;
    top:7%;
    left:45%;
    height: 60px;
    width: 150px;
}
.ipt {
    position:absolute;
    top:22%;
    left:4%;
    width:420px;
    outline:green;
    font-size:23px;
    font-family: arial;
    outline: none;
    border: 1px solid #fafaff;
    background-color:#fafaff;
}
#mne {
    position:absolute;
    left:33%;
    border-radius: 0%;
    top:20%;
    height: 60px;
    background-color:#fafaff;
    width:460px;
    border: 1px solid rgba(42, 223, 6, 0.795);
    border-radius:10px;
}
#hdc {
    position:absolute;
    left:34%;
    border-radius: 0%;
    top:19.2%;
    font-size: 11px;
    height: 13px;
    color:green;
    background:white;
    width:140px;
    border-radius: 2px;
}

#myPassword {
    position:absolute;
    top:28%;
    left:4%;
    width:420px;
    outline:green;
    font-size:23px;
    font-family: arial;
    outline: none;
    border: 1px solid #fafaff;
    background-color:#fafaff;
}
#enm {
    position:absolute;
    left:33%;
    border-radius: 0%;
    top:33%;
    height: 60px;
    background-color:#fafaff;
    width:460px;
    border: 1px solid rgba(42, 223, 6, 0.795);
    border-radius:10px;
}
.hk {
    position:absolute;
    color: rgba(42, 223, 6, 0.795);
    top:45%;
    right: 35%;
    font-size:15px;
}
#myButton {
    background-color: #4CAF50;
    color:#fff;
    border:none;
    border-radius: 30px;
    position:absolute;
    top:56%;
    height:55px;
    width:410px;
    font-size:20px;
    left:34.5%;
}
.dpo {
    position:absolute;
    bottom:15%;
    left:42%;
}
